/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
  background: rgb(71,149,245);
  background: linear-gradient(90deg, rgba(71,149,245,1) 0%, rgba(125,73,242,1) 100%);
  color:#fff;
  font-family: 'Rubik', sans-serif;
}

